html,body{
  height: 100%;
  width: 100%;
}
body{
  position: relative;
  overflow: hidden;
  font-family: Arial,'Microsoft Yahei';
  background-color: #000;
  -webkit-transition: all ease;
  -o-transition: all ease;
  -moz-transition: all ease;
  transition: all ease;
}
/*.ad-wrapper{
  position: relative;
  width: 100%;
  height: 40px;
  background-color: #fff;
}
.ad{
  position: relative;
  width: 1000px;
  height: 40px;
  margin: 0 auto;
  z-index: 10;
  background-color: #fff;
}
.ad .tencent-logo{
  display: inline-block;
  width: 205px;
  height: 100%;
  line-height: 40px;
  font-size: 2em;
  background: url(../img/ost.png);
  background-position: 0 -40px;
}
.ad ul{
  display: inline-block;
  float: right;
}
.ad ul li{
  display: inline-block;
  line-height: 40px;
  margin-right: 10px;
  font-size: 12px;
  font-weight: 400;
}
.ad ul li a{
  color: #000; 
}*/
header{
  position: fixed;
  top: 0;
  width: 100%;
  height: 88px;
  background: url(../img/bg_top.png) no-repeat 50% 0;
  opacity: 1 ;
  z-index: 100;
}
header .header-wrapper{
  width: 1200px;
  height: 70px;
  background-color: transparent;
  margin: 0 auto;
}
header .logo{
  display: inline-block;
  width: 140px;
  height: 96%;
  overflow: hidden;
  background: url(../img/logo.png) no-repeat;
  background-position: 0 0;
}
header .header-nav{
  display: inline-block;
  margin-left: 70px;
}
header .header-nav li{
  width: 104px;
  height: 70px;
  line-height: 70px;
  float: left;
  font-size: 14px;
}
header .header-nav li a{
  color: #ccc;
}
header .header-nav li a:hover{
  color: #E69800;  
}
header .header-nav .nav-active a{
  color: #E69800;
}
header .btn-enter{
  display: inline-block;
  width: 142px;
  height: 40px;
  line-height: 40px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
  background-color: #E69800;
  float: right;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
}
.container{
  height: 100%;
  width: 100%;
  position: relative;
}
.vd-box{  
  width: 100%;
  height: 100%;
  position: relative;
}
.vd-box video{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  z-index: -1;
}
.first-section img{
  display: block;
  margin-top: 85px;
  position: absolute;
  top: 65%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
     -moz-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.first-section .video-btn{
  width: 82px;
  height: 80px;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background: url(../img/sprite.png) no-repeat;
  background-position: 0px 0px ;
  cursor: pointer;
}
#section1 .headline-box{
  width: 530px;
  height: 222px;
  position: absolute;
  top: 58%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
     -moz-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
  text-align: center;
}
#section1 h1{
  width: 530px;
  height: 192px;
  background: url(../img/sprite.png) no-repeat;
  background-position: -250px -220px ;
}
#section1 h2{
  display: block;
  height: 20px;
  position: absolute;
  left: 24px;
  bottom: 0;
  color: #fff;
  font-size: 14px;
  font-style: italic;
}
#section2 .headline-box{
  width: 530px;
  height: 242px;
  position: absolute;
  top: 58%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
     -moz-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
  text-align: center;
}
#section2 h1{
  width: 530px;
  height: 212px;
  background: url(../img/sprite.png) no-repeat;
  background-position: -795px -220px ;
}
#section2 h2{
  display: block;
  height: 20px;
  position: absolute;
  left: 64px;
  bottom: 0;
  color: #fff;
  font-size: 14px;
  font-style: italic;
}
#section4 .headline-box{
  width: 500px;
  height: 240px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
     -moz-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
#section4 .headline-box h1:first-child{
  display: block;
  width: 376px;
  height: 84px;
  float: left;
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  background-position: 0 -507px;
}
#section4 .headline-box h1:nth-child(2){
  display: block;
  width: 376px;
  height: 84px;
  float: right;
  margin-top: 16px;
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  background-position: -376px -507px;
}
#section4 .headline-box h2{
  display: block;
  float: left;
  height: 20px;
  margin-top: 16px;
  margin-left: 60px;
  color: #fff;
  font-size: 14px;
}
#section5 img{
  width: 100%;
  height: 100%;
}
#section5 .headline-box{
  width: 760px;
  height: 120px;
  position: absolute;
  top: 14%;
  left: 50%;
  -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
}
#section5 h1{
  width: 760px;
  height: 90px;
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  background-position: 0 -590px;
}
#section5 h2{
  display: block;
  height: 20px;
  margin-top: 10px;
  color: #fff;
  font-size: 14px;
}
.sidebar-box{
  display: none;
  width: 1.8%;
  max-width: 35px;
  height: 0;
  position: absolute;
  top: 50%;
  left: 40px;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  padding-bottom: 40%;
  z-index: 1000;
}
.sidebar{
  position: absolute;
  height: 100%;
  width: 100%;
  background: url(../img/bg_nav.png) no-repeat;
  -moz-background-size: 100% 100%;
       background-size: 100% 100%;
}
.sidebar li{
  width: 240px;
  position: absolute;
  color: #fff;
  font-size: 14px;
  left: 80%;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.sidebar li span{
  display: inline-block;
  height: 100%;
  margin: 0 6px 2px ;
  vertical-align: middle;
  border-width: 5px 8px;
  border-style: solid;
  border-color: transparent transparent transparent #E69800;
  visibility: hidden;
}

.sidebar li:first-child{
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  font-weight: bolder;
  -moz-border-radius: 50%;
       border-radius: 50%;
}
.sidebar li:nth-child(2){
  top: 5.5%;
}
.sidebar li:nth-child(2) .nav-card{
  background-position: -114px 0;
}
.sidebar li:nth-child(3){
  top: 27.4%;
}
.sidebar li:nth-child(3) .nav-card{
  background-position: -284px 0;
}
.sidebar li:nth-child(4){
  top: 49.3%;
}
.sidebar li:nth-child(4) .nav-card{
  background-position: -452px 0;
}
.sidebar li:nth-child(5){
  top: 71.2%;
}
.sidebar li:nth-child(5) .nav-card{
  background-position: -624px 0;
}
.sidebar li:nth-child(6){
  top: 93.1%;
}
.sidebar li:nth-child(6) .nav-card{
  background-position: -794px 0;
}

.sidebar li:last-child{
  bottom: 0;
  left: 0;
  width: 30px;
  height: 30px;
  -moz-border-radius: 50%;
       border-radius: 50%;
}

.sidebar .nav-active{
  color: #E69800;
  font-weight: bolder;
}

.sidebar .nav-card{
  display: inline-block;
  padding: 6px 16px;
  width: 168px;
  height: 60px;
  vertical-align: top;
  -webkit-transform: translateY(-25%);
     -moz-transform: translateY(-25%);
      -ms-transform: translateY(-25%);
          transform: translateY(-25%);
  font-size: 14px;
  color: #fff;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  visibility: hidden;
}

.mouse{
  width: 32px;
  height: 80px;
  position: fixed;
  left: 50%;
  bottom: 5px;
  -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background: url(../img/sprite.png) no-repeat;
  background-position: -82px 0px ;
  z-index: 50;
}

footer{
  width: 100%;
  height: 160px;
  background: #000;
}
footer .copyright{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  font-size: 3em;
  text-align: center;
  color: #fff;
}
footer .foot-img1{
  display: inline-block;
  float: left;
  width: 168px;
  height: 34px;
  vertical-align: middle;
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  background-position: 0 -66px;
}
footer .foot-img2{
  display: inline-block;
  width: 136px;
  height: 86px;
  font-size: 16px;
  color: #fff;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url(../img/nav_spr.png);
  background-repeat: no-repeat;
  background-position: -586px -154px;
}